body{
    background-color: black;
}


.container{
    margin-right: 0%;
    margin-left: 0%;
}

div {
    border: solid 1px red;
    width: 300px;
    height: 600pxpx;
}
img{
    width: 150px;
    height: 300px;
}

@media (min-width: 1200px){ 
.container {
    max-width: 100%;
}
}